body {
    font-family:'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: #000;
}

p {
    font-size: 14px;
	color: #000;
}

a {
    text-decoration: none;
    color: #6d81f5;
}

a:hover {
    text-decoration: none;
    color: #6d81f5;
}

.navbar.navbar-dark .nav-item .nav-link { 
    color: #000!important; 
    background-color: #fff;
} 

.navbar.navbar-dark .nav-item .nav-link:hover { 
    color: #6d81f5 !important; 
    background-color: #fff;
}

.navbar {
    background-color: #fff!important;
}

.navbar-nav {
    background-color: #fff;
}

.navbar-brand {
    background-color: #fff;
}

.navbar-dark .navbar-toggler {
    color: #6d81f5 ;
    border-color: #6d81f5 ;
	background-color: #6d81f5 ;
}

.text-primary{
	color: #6d81f5!important;
}

.searchbar{
    border-radius: .25rem;
	border-color: 6px solid rgba(240, 246, 252, 0.1);
}

.btn-primary, .btn-primary:active, .btn-primary:focus{
    background-color: #6d81f5;
    border-color: #6d81f5;
    color: #fff;
    border-radius: .25rem;
    margin-top: 4px;
    padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 25px;
}

.btn-primary:hover{
    background-color: #6d81f5;
    border-color: #6d81f5;
    color: #fff;
    border-radius: .25rem;
    margin-top: 4px;
    padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 25px;
}

.btn-link{
    color: #000;
	border-radius: .25rem;
    margin-top: 1px;
    padding: 9px;
}

.btn-link:hover{
    color: #6d81f5;
	border-radius: .25rem;
    margin-top: 1px;
    padding: 9px;
	text-decoration: none;
}

.logo{
    margin-bottom: 0px;
}

.logo-colour{
    color: #000;
}

.logocolour{
    color: #6d81f5;
}

.rounded{
    border-radius: .25rem;
}

.form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}

.form-control:focus {
	background: #e2e2e2;
}

.form-control, .btn {        
	border-radius: .25rem;
}

.signup-form {
	width: 450px;
	margin: 30px auto;
}

.signup-form form {
	border-radius: .25rem;
	margin-bottom: 5px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h1 {
	color: #000 ;
	font-weight: bold;
	margin-top: 0;
}

.signup-form hr  {
	margin: 0 -30px 20px;
}   

.signup-form .form-group {
	margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}

.signup-form .row div:last-child {
	padding-left: 10px;
}

.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #6d81f5 ;
	border: none;
	min-height: 50px;
    color: #fff;
}

.signup-form .btn:hover, .signup-form .btn:focus {
	background: #6d81f5 !important;
	outline: none;
	min-height: 50px;
    color: #fff;
}

.signup-form a {
	color: #000;
	text-decoration: none;
}

.signup-form a:hover {
    color: #000 ;
	text-decoration: none;
}

.signup-form form a {
	color: #6d81f5;
	text-decoration: none;
}	

.signup-form form a:hover {
    color: #6d81f5;
	text-decoration: none;
}

.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

.login-form {
	width: 450px;
	margin: 30px auto;
}

.login-form form {
	color: #000 ;
	border-radius: .25rem;
	margin-bottom: 10px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h1  {
	color: #000 ;
	font-weight: bold;
	margin-top: 0;
}

.login-form hr  {
	margin: 0 -30px 20px;
} 

.login-form .form-group {
	margin-bottom: 20px;
}

.login-form input[type="checkbox"] {
	margin-top: 3px;
}

.login-form .row div:first-child {
	padding-right: 10px;
}

.login-form .row div:last-child {
	padding-left: 10px;
}

.login-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #6d81f5 ;
	border: none;
	min-height: 50px;
    color: #fff;
}

.login-form .btn:hover, .login-form .btn:focus {
	background: #6d81f5 !important;
	outline: none;
	min-height: 50px;
    color: #fff;
}

.login-form a {
	color: #6d81f5;
	text-decoration: none;
}

.login-form a:hover {
	text-decoration: none;
    color: #6d81f5;
}

.login-form form a {
	color: #6d81f5;
	text-decoration: none;
}	

.login-form form a:hover {
	text-decoration: none;
    color: #6d81f5;
}

.login-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

.toggle-password {
    float: right;
    cursor: pointer;
    margin-right: 15px;
    margin-top: -30px;
}

.alert{
	margin: 10px;
}

.dropdown-item:focus, .dropdown-item:active{
	background-color: #6d81f5;
}

.main-section{
	margin-top: 90px;
}

.tab-pills{
	margin-bottom: 20px;
}

.nav-pills .nav-link {
    border-radius: .25rem;
	color: #000;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
	color: #6d81f5;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #6d81f5;
    background-color: #f2f2f2;
}

.nav-link:hover {
    color: #fff;
    background-color: #6d81f5;
	border-radius: .25rem;
}

.card{
	margin-bottom: 10px;
	border-radius: .25rem;
	border-color: 2px solid rgba(240, 246, 252, 0.1);
}

.btn-dark{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.card-title{
	color: #000;
}

.card-title:hover{
	color: #6d81f5;
}

.tags{
	padding-bottom: 15px;
}

.user-info{
	margin-bottom: 10px;
}

.rounded-circle{
	border-radius: 50px;
}

.badge-secondary{
	padding: 7px;
}

.btn-outline-primary {
    color: #6d81f5;
    border-color: #6d81f5;
	border-radius: .25rem;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #6d81f5;
	border-color: #6d81f5;
	border-radius: .25rem;
}

.btn-outline-warning {
    color: #fcb400;
    border-color: #fcb400;
	border-radius: .25rem;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #fcb400;
	border-color: #fcb400;
	border-radius: .25rem;
}

.btn-outline-danger {
    color: #dd0000;
    border-color: #dd0000;
	border-radius: .25rem;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dd0000;
	border-color: #dd0000;
	border-radius: .25rem;
}

.dropdown-menu {
    border: 2px solid #6d81f5;
    padding: 0rem 0;
    transform: translate3d(0px, 10px, 0px) !important
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff;
    background-color: #6d81f5;
    padding: 12px
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 12px
}

.post-form {
	width: 650px;
	margin: 30px auto;
}

.post-form form {
	color: #000 ;
	border-radius: .25rem;
	margin-bottom: 10px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.post-form h1  {
	color: #000 ;
	font-weight: bold;
	margin-top: 0;
}

.post-form hr  {
	margin: 0 -30px 20px;
} 

.post-form .form-group {
	margin-bottom: 20px;
}

.post-form input[type="checkbox"] {
	margin-top: 3px;
}

.post-form .row div:first-child {
	padding-right: 10px;
}

.post-form .row div:last-child {
	padding-left: 10px;
}

.post-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #6d81f5 ;
	border: none;
	min-height: 50px;
    color: #fff;
}

.post-form .btn:hover, .post-form .btn:focus {
	background: #6d81f5 !important;
	outline: none;
	min-height: 50px;
    color: #fff;
}

.post-form a {
	color: #6d81f5;
	text-decoration: none;
}

.post-form a:hover {
	text-decoration: none;
    color: #6d81f5;
}

.post-form form a {
	color: #6d81f5;
	text-decoration: none;
}	

.post-form form a:hover {
	text-decoration: none;
    color: #6d81f5;
}

.post-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

.meta-data {
	width: 650px;
	margin: 20px auto;
}

.text-dark{
	color: #000!important;
}

.col-md-4.sticky-top {
	align-self: flex-start;
}

.container-full {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.text-danger{
	color: #dd0000!important;
}

.post-form .btn-danger{
	color: #fff;
    background-color: #dd0000!important;
	border-radius: .25rem;
}

.post-form .btn-danger:hover{
	color: #fff;
    background-color: #dd0000!important;
	border-radius: .25rem;
}

.btn-danger{
	color: #fff;
    background-color: #dd0000!important;
	border-radius: .25rem;
}

.btn-danger:hover{
	color: #fff;
    background-color: #dd0000!important;
	border-radius: .25rem;
}