{% include 'Base.html' %}

{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center" style="margin-top: 30px;">
                    <a href="{{ url_for('home') }}">
                        <h1 class="logo"><span class="logo-colour"><i class="far fa-code fa-1x"></i></span><b> Edit</b><span class="logo-colour"> Post</span></h1>
                    </a>
                </div>
            </div>
        </div>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-8 post-form">
                <form action="" method="POST" id="addPostForm">
                    {{ form.csrf_token }}
                    {% for field, errors in form.errors.items() %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ ', '.join(errors) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        {{ form.title(class="form-control", placeholder="New Post Title Here...") }}
                    </div>
                    <div class="form-group">
                        {{ form.description() }}
                    </div>
                    <div class="form-group">
                        {{ form.category(class="form-control", placeholder="Select Category") }}
                    </div>
                    <div class="form-group">
                        {{ form.tags(class="form-control", placeholder="Tags (Add up to 5 short tags)") }}
                    </div>        
                    <div class="form-group">
                        <button type="submit" class="btn btn-blue btn-block btn-lg" id="create">Submit</button>
                    </div>
                </form>
            </div>
                <div class="col-md-4 login-form">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary"><b>Title Tips</b></h2>
                            <p class="card-text">1. Avoid words that sound like spam</p>
                            <p class="card-text">2. Learn the Popular Headline Formulas</p>
                            <p class="card-text">3. Pay Attention to Headlines You Like</p>
                            <p class="card-text">4. Write Blog Titles for YOUR Audience</p>
                            <p class="card-text">5. Be Specific</p>
                            <p class="card-text">6. Appeal to Emotions</p>
                            <p class="card-text">7. Don’t Oversell</p>
                            <p class="card-text">8. Use Your Keyword Research</p>
                            <p class="card-text">9. Include your audience</p>
                            <p class="card-text">10. Provide information that solves a problem</p>
                        </div>
                    </div>
                    <br>
                    <div class="card shadow-sm">
                        <div class="card-body">
                        <h2 class="card-title text-primary"><b>Content Tips</b></h2>
                        <p class="card-text">1. Know Your Audience/p>
                        <p class="card-text">2. Use Bullet Points</p>
                        <p class="card-text">3. Optimize for SEO</p>
                        <p class="card-text">4. Add a Clear Call-to-Actione</p>
                        <p class="card-text">5. Hook Your Readers With a Great Opening</p>
                        <p class="card-text">6. Write Like You Talk</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    {% block footer %}
	<div class="container">
		<div id="footer">
			<p class="text-center">© 2022 Steve Njuguna</p>
		</div>
	</div>
	{% endblock %}

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='description', height= 400) }}
{% endblock %}