{% block navbar %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm">
        <div class="container">
            <a href="{{ url_for('home') }}">
                <h4 class="logo"><span class="logo-colour"><i class="far fa-code fa-lg"></i></span><b> Nerd</b><span class="logo-colour">Dev</span></h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <form class="form-inline my-2 my-lg-0 searchbar">
                        <div class="bg-light rounded searchbar">
                            <div class="input-group searchbar">
                                <input type="search" placeholder="Search Blog Articles" class="form-control border-0 bg-light searchbar" style="width: 500px;">
                                <div class="input-group-append searchbar">
                                  <button type="submit" class="btn btn-link searchbar"><i class="fal fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </ul>
                <div class="d-flex">
                    <a href="#">
                        <button type="submit" class="btn btn-primary"><i class="fal fa-pencil"></i> Create A Post</button>
                    </a>
                    <a href="{{ url_for('register') }}">
                        <button class="btn btn-md btn-link ms-3" style="margin-left: 30px;"><i class="fal fa-user-circle fa-2x"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
{% endblock %}