{% include 'Base.html' %}

<div class="container-full">
	{% include 'Non-Sticky Navbar.html' %}
</div>

{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col-md-8 meta-data">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="float-right">
                            {% if current_user.id == post.user_id %}
								<a class="float-left" style="margin-right: 5px;" href="/post/{{post.id}}/edit">
									<button class="btn btn-outline-warning btn-sm"><i class="far fa-edit"></i> Edit</button>
								</a>
								<a href="#" style="margin-right: 5px;">
									<button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal{{post.id}}"><i class="far fa-trash"></i> Delete</button>
								</a>
                                <a class="float-right" href="/{{post.id}}/comment">
                                    <button class="btn btn-outline-primary btn-sm"><i class="far fa-comment-alt"></i> Comment</button>
                                </a>
							{% endif %}
                        </div>
                        <div class="d-flex flex-row user-info">
                            <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" height="50" width="50">
                            <div class="d-flex flex-column justify-content-start ml-2">
                                <a href="#">
                                    <span class="d-block font-weight-bold name">{{ post.user.first_name }} {{ post.user.last_name }}</span>
                                </a>
                                <span class="date text-black-50" style="font-size: 15px;"><i class="fas fa-calendar-alt"></i> {{ post.created_on.strftime('%d/%m/%Y') }}</span>
                            </div>
                        </div>
                        <br>
                        <h2 class="card-title text-dark"><b>{{ post.title }}</b></h2>
                        <p class="card-text text-muted tags">
                            {% for tag in post.tags %}
                            <span class="badge badge-secondary">{{ tag.name }}</span>
                            {% endfor %}
                        </p>
                        <p class="card-text">{{ post.description|safe }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 meta-data sticky-top">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary"><b>Author <span class="text-dark">Information</span></b></h5>
                        <div class="d-flex flex-row user-info">
                            <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" height="50" width="50">
                            <div class="d-flex flex-column justify-content-start ml-2">
                                <a href="#">
                                    <span class="d-block font-weight-bold text-dark">{{ post.user.first_name }} {{ post.user.last_name }}</span>
                                </a>
                                <span class="date text-black-50" style="font-size: 15px;">Date Joined - {{ post.user.registered_on.strftime('%d/%m/%Y') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title"><b>More From <span class="text-primary"> {{post.user.first_name }} {{ post.user.last_name }}</span></b></h5>
                        <p class="card-text">1. Know Your Audience</p>
                        <p class="card-text">2. Use Bullet Points</p>
                        <p class="card-text">3. Optimize for SEO</p>
                        <p class="card-text">4. Add a Clear Call-to-Actione</p>
                        <p class="card-text">5. Hook Your Readers With a Great Opening</p>
                        <p class="card-text">6. Write Like You Talk</p>
                        <p class="card-text">7. Make It Scannable</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel{{post.id}}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalLabel{{post.id}}">Delete Blog Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                <div class="modal-body">
                    <p>Are you you want to delete the post? <span class="text-danger">(This can't be undone)</span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <a href="/post/{{ post.id }}/delete">
                        <button type="button" class="btn btn-danger btn-sm"><i class="far fa-trash"></i> Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
	<div class="container">
		<div id="footer">
			<p class="text-center">© 2022 Steve Njuguna</p>
		</div>
	</div>
	{% endblock %}
{% endblock %}